*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2em;}
h3{font-size: 2.7em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 2px 2px 10px gray;
    color: white;
    background-color: rgb(112, 12, 112);
}

button:hover{
    background-color: rgb(87, 7, 87);
    cursor: pointer;
}


.contenedor{
    max-width: 900px;
    margin: auto;
}

header{
    background-color:rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bolder;
    color: blueviolet;
    font-size: 1.6em;
}

header .contenedor{
    display: flex; 
    flex-direction: column;
    align-items: center;    
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
        text-decoration: none;
        padding: 5px 12px;
        font-weight: bold;
        color: black;
}

header a:hover{
    color:blueviolet
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),  rgba(0,0,0,0.9)),url(./media/business-laptop-computer-keyboard.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 10px black;
}

/*
#somos-proya{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px auto;
    height: 90vh;
}
*/

#somos-proya .contenedor{
    text-align: center;
    padding: 200px 12px;
}

#somos-proya span{
    color:blueviolet
}

#nuestros-cursos {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestros-cursos h2{
    margin-top: 0;
}

#nuestros-cursos .contenedor{
    padding: 50px 12px;
}

#nuestros-cursos p{
    display: none;
}

#nuestros-cursos .carta{
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}

.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),  rgba(0,0,0,0.9)),url(./media/coding.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),  rgba(0,0,0,0.9)),url(./media/girl-coding.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),  rgba(0,0,0,0.9)),url(./media/python.jpg);
}

#caracteristicas .contenedor{
    padding: 200px 12px;
    text-align: center;
}

#caracteristicas li{
    margin: 16px 0;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    color: rgb(100, 100, 1000);
}

footer .contenedor{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
